html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
    background-color: darkgray
}

body {
    margin-bottom: 60px;
    color: green;
    font-weight: bold;
    border: 1px solid blue;
    background-color: powderblue;
}
